.vscode/*
.vs/
.idea
cmake-build*
build/*
.idea/*
bin/*
lib/*
include/*
coverage.info
*.csv
dist
build
*.egg-info
*.idb
__pycache__
public/lib/*
*.xlsx
notebooks
share
public/python/dal/dal.py
public/python/dal/dal_wrap.py