[submodule "externals/CodiPack"]
	path = externals/CodiPack
	url = git@github.com:wegamekinglc/CoDiPack.git
[submodule "externals/machinist"]
	path = externals/machinist
	url = git@github.com:wegamekinglc/machinist2.git
